a {
	
}

.job-box{
	width: 100% !important;
	height: auto 100% !important;
}

.job-list{
	height: 850px;
	overflow-y:scroll;
}

.job-box-container{
	height: 250px !important;
}
@media screen and (min-width: 100px) and (max-width: 768px) {
  #map_home {
    height: 600px;
    opacity: 0.9; 
    display: none;} 
    #logo-a{
    	display: none;
    }
}

.hack-menu{
	background: #fff !important;
	border-bottom: 1px solid #dce0e0;
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}


.logo-img{
	width: 70px;
}
#logo-a{
	padding: 10% 10% ;
}

.header-search{
	padding-top: 1%;
	width: 50%;
}

.navbar-nav > li > a{
	color: black !important;
}
#tf-menu .navbar-header{
	border-right: 1px solid #dce0e0;

}
#Flyers-ShowAll-Container h3{
	padding:1.5% ; 
}

